* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'inter';
    margin: 0;
    color: #333;
}

  a  {
  text-decoration: none;
}
p {
  font-size: 20px;
}
  /* Header styles navbar*/
  #header {
      overflow: hidden;
      box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
      position: fixed;
      background: white;
      top: 0;
      right: 0;
      left: 0;
      z-index: 5;
    }
     
  .navbar_all {
    height: 98px;
    display: flex;
    /* justify-content: space-between; */
    text-decoration: none;
    list-style: none;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    width: 100%;
  }
  .navbar_all li {
    text-align: center;
    margin: 0 28px;
  }

  .navbar_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
  }    
  .navbar_logo a img {
    max-width: 200px;
    height: auto;
    object-fit: contain;
  }
  .navbar_btn {
    display: flex;
    line-height: 44px;
    font-size: 20px;
    padding: 0px 0px;
    margin:0 20px;
    /* padding: 10px 10px; */
    color: #F37124;
    border: 2px solid #F37124;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    justify-content: space-around;
    width: 125px;
  }
  .navbar_btn:hover {
    background-color: #F37124;
    color:white;
  }
  .navbar_btn:hover a {
    color: white;
  }
  .navbar_btn a {
    text-decoration: none;
    color: #F37124 ;
    display: block;
  }
  .navbar_login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  .navbar_register {
    display: flex;
    justify-content: center;
    color: white;
    background-color:#0551A0;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    width: 230px;
    height: 44px;
    line-height: 43px;
  }
  /* body img */

  #page_img {
    /* position: relative;
    top: 0;
    left: 0; */
    margin-top: 125px;
  }
  .image_container {
      position: relative;
      width: 1720px;
      height: 478px;
      /* border-radius: 20px; */
      left: 50%;
      transform: translateX(-50%)
  }
  

  #page_img img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    left: 50%;
    transform: translateX(-50%);
  }

  .label_about{
    position: absolute;
    top: 34px;
    left : 100px;
    height: 44px;
    color: #0551A0;
    width: 120px;
    background-color: white;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
    line-height: 44px;
    text-align: justified;
    border-left: 8px solid #F37124;
  }
  /* About us styles */
  /* content */
  .container_about-section{
    margin-top: 30px;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: #F5F5F5; */
  }
  .about-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 1075px;
    text-align: left;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  

  .about-section h1 {
    color: #f57c00;
    font-size: 60px;
    margin-bottom: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    line-height: 72.61px;
  }

  .about-section p {
    text-align: start;
    font-size: 20px;
    line-height: 24.2px;
    color: #333;
    margin-bottom: 20px;
    font-family: Inter;
    text-align: justify;
    display: block;
    position: relative; /* Add this line */
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }

  .about-section .highlighted-text {

    font-style: italic;
    color: #1e88e5;
    font-weight: bold;
  }
  .about-section a {
    left: 80%;
    position: relative;
  
  }
.explore-button {
    display: inline-block;
    background-color: #F37124;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    line-height: 18px;
}

.explore-button span {
    margin-left: 10px;
    transition: margin-left 0.3s ease;
}

.explore-button:hover {
    background-color: #F37124;
}

.explore-button:hover span {
    margin-left: 20px;
}
/* using_container */


.container_using {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  margin-top: 40px;
}
.container_using h1 {
  font-family: 'Inter', sans-serif;
  font-size: 60px;
  font-weight: 800;
  line-height: 72.61px;
  text-align: justify;
  color: #F37124;
}
.container_using h2 {
  margin-top: 20px;
  font-family: "inter", sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  line-height: 33.89px;
  /* text-align: justify; */
  color: #0551A0;
}

.using_section p {
  text-align: justify;
}

.using_side-section {
  margin-left: 40px;
  border: 2px solid #F37124;
  padding: 20px;
  border-radius: 30px;
  background-color: #fff; 
  
}
.using_side-section .side_box:first-child{
  margin-top: 10px;
}
.using_side-section .side_box {
  margin: 125px 0;
}
.left-side {
  width: 70%;
  float: left;
}
.right-side {
  width: 70%;
  float: right;
}
.using_side-section a,
.using_section a {
  float: right;
}

.side_box {
  margin-bottom: 20px;
}

.side_box h2 {
  margin-top: 0;
}

.side_box .btn {
  margin-top: 10px;
}
/* section_founder */

.section_founder{
  position: relative;
  margin: 0 0 50px 13.2px;
  display: flex;
  padding-bottom: 139px;
  width: fit-content;
  box-sizing: border-box;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 20px;
}
.image-section {
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 221px;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.text-section {
  position: absolute;
  flex-direction: column;
  box-sizing: border-box;
  width: 60%; 
  right: 0;
}
@media screen and (max-width: 1023px) {
  .section_founder {
    flex-direction: column;
  }
  .image-section {
    width: 100%;
    height: 100%;
    margin-top: 500px;
  }
  .text-section {
    width: 100%;
    margin-top: 20px;
  }
  
}
.text-section h1 {
  margin-bottom: 13px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 800;
  font-size: 60px;
  color: #F37124;
}

.text-section p {
  margin: 0 19.2px 15px 0;
  display: inline-block;
  text-align: justify;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}

.text-section ol {
  list-style-type: none;
  margin-left: 60px;
}
.text-section ol li strong {
  font-family: 'Inter';
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 24.2px;
  text-align: justify;
  color: #0551A0;
}
.text-section ol li {
  font-family: 'Inter';
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: 24.2px;
  text-align: justify;
  margin-bottom: 15px;
}
.text-section ol li {
  
}
/* fooster */


.professionals-content-child {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  width: 98%;
  object-fit: cover;
  left: 50%;
  transform: translateX(-50%);
}


.image-footer-container {
  top: 0;
  bottom: 0;
  position: relative; /* Establishes a positioning context for footer content */
  display: inline-block; /* Ensures the container fits the content */
}

.footer-content {
  position: absolute; /* Positions the footer content over the image */
  bottom: 0; /* Aligns the footer at the bottom of the container */
  left: 0; /* Aligns the footer to the left of the container */
  width: 98%; /* Ensures the footer spans the width of the container */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Adds a semi-transparent background */
  color: white; /* Footer text color */
  text-align: center; /* Centers the footer text */
  padding: 10px 0; /* Adds some padding inside the footer for better spacing */
  left: 50%;
  
  border-radius: 0 0 15px 15px;
  bottom: 5px;
  transform: translateX(-50%);
}
.progress-bar {
  --bs-progress-bar-bg: #F37124;
}